@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

td {
  vertical-align: middle;
  border: 2px solid black;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2rem;
  &:hover {
    color: gold;
    border-color: gold;
    border-style: double;
  }
}

table {
  width: 85vh;
  height: 85vh
}

.table-responsive {
  margin-top: 1vh;
}
